.gallows-box {
  position: relative;
  width: 330px;
  height: 580px;

  .column {
    position: relative;
    height: 100%;
    width: 42px;
    border-radius: 5px;
    border: 3px solid #fff;
    background: #000;
    margin-left: 30px;
    z-index: 2;
  }

  .girder {
    position: absolute;
    z-index: 2;
    top: 30px;
    left: 0px;
    height: 42px;
    width: 100%;
    border-radius: 5px;
    border: 3px solid #fff;
    background: #000;
  }

  .diagonal {
    position: absolute;
    z-index: 1;
    top: 20px;
    left: 95px;
    transform: rotate(45deg);
    border-radius: 5px;
    border: 3px solid #fff;
    background: #000;
    width: 42px;
    height: 200px;
  }

  .rope {
    width: 10px;
    height: 90px;
    position: absolute;
    z-index: 1;
    top: 66px;
    right: 66px;
    border-radius: 10px;
    background: #000;
  }

  .parts {
    width: 5px;
    background: #909090;
    position: absolute;
    opacity: 0;
  }

  .parts-head {
    top: 155px;
    right: 20px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: transparent;
    border: 5px solid #909090;
  }
  .parts-body {
    top: 254px;
    right: 66px;
    height: 125px;
  }
  .parts-left-arm {
    transform: rotate(35deg);
    top: 256px;
    right: 85px;
    height: 67px;
  }
  .parts-right-arm {
    transform: rotate(145deg);
    top: 255px;
    right: 48px;
    height: 67px;
  }
  .parts-left-leg {
    transform: rotate(20deg);
    top: 369px;
    right: 82px;
    height: 95px;
  }
  .parts-right-leg {
    transform: rotate(160deg);
    top: 369px;
    right: 50px;
    height: 95px;
  }
}
