.game-field-container {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.rightpart {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.word-box {
  margin: 0 auto;
  display: flex;
  gap: 5px;
}

.letter-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 20px;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 3px solid #000;
  box-shadow: 0 0px 4px #665f55;
}
