@import "./variables";

.keyboard {
  max-width: 320px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
}

.key {
  cursor: pointer;
  text-align: center;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $color-background-body;
  color: $color-text-dark;
  border: 1px solid $color-border-dark;
  border-radius: 5px;
  transition: all 0.5s ease;

  &:hover {
    color: $color-text-light;
    background: $color-background-container;
  }
}
